

.bg-color {
    background-color: #3333335a;

}

footer {
    background-color: #333;
    color: #fff;
}

header {
display: flex;
    justify-content: space-between;

    height: 10vh;
    width: 100%;
}

main {

    height: 80vh;
    min-width: 100%;



}


.btn {
    aspect-ratio: 1.8 / 1;
}

.navbar-nav li {
    width: 50%;
    margin: 0 25px
}

.carousel-inner img {
    height: 500px


}

.form-group {
    display: flex;
    flex-direction: column;
    width: 22.6%;
    flex-wrap: wrap;
}

.home-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-title {
    font-size: 36px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
h1 .home-title {
    font-size:200px;
}


.custom-btn {
    background-color: #87CEEB;
    color: #fff;
    transition: background-color 0.3s;
}


.custom-btn:hover {
    background-color: #00BFFF;
}

@media (max-width: 768px) {

    .home-title {
        font-size: 24px;
    }


    footer {
        background-color: #333;
        color: #fff;
    
    }

    .logo {
        text-align: right;
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    
    }
}

@media (min-width: 375px) {
    .home-title {
        font-size: 10px;
    }

}